#heading {
    text-align: center;
    padding: 30px 20px;
    color: rgb(255, 157, 0);
    font-size: 2.5em;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.card.reverse {
        flex-direction: row-reverse;
    }

.card-image {
    border-radius: 25px;
    max-width: 100%;
    width: 300px;
    height: auto;
}

.card-text {
    max-width: 600px;
    text-align: justify;
}

.button {
    background-color: rgb(243, 136, 5);
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
}

@media (max-width: 768px) {

    
    .card {
        flex-direction: column;
        padding: 20px;
    }

    .card.reverse {
        flex-direction: column;
    }

    .card-image {
        width: 100%;
        max-height: 300px;
        margin-top: 30px;
    }

    .card-text {
        padding: 0 10px;
        text-align: justify;
    }

    .card h1 {
        padding-top: 10px;
        margin: 10px;
        text-align: center;
    }

    .button{
        margin-left: 100px;
    }

    .footer{
        margin-top: 50px;
    }
}
